<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__navi">
				<a href="./" class="footer__navi-item">О компании</a>
				<a href="./" class="footer__navi-item">Услуги</a>
				<a href="./" class="footer__navi-item">Проекты</a>
				<a href="./" class="footer__navi-item">Контакты</a>
			</div>
			<div class="footer__side">
				<a href="./" class="footer__side-link">г. Алматы, Турксибский р-н, мкр. Кайрат, д. 7</a>
				<a href="tel:87007707372 " class="footer__side-link">+7 700 770 73 72 </a>
				<a href="mailto:approplan@gmail.com" class="footer__side-link">approplan@gmail.com</a>
				<div class="footer__socials socials">
					<a href="./" class="socials__item socials__item_wapp"></a>
					<a href="./" class="socials__item socials__item_inst"></a>
					<a href="./" class="socials__item socials__item_be"></a>
					<a href="./" class="socials__item socials__item_fb"></a>
					<a href="./" class="socials__item socials__item_pin"></a>
					<a href="./" class="socials__item socials__item_in"></a>
				</div>
			</div>
		</div>
	</div>
</footer> 
<script type="text/javascript" charset="utf-8" src="./jquery.min.js"></script>
<script src="./common.js"></script> 
</body> 
</html> 
