<section class="cost">
	<div class="container">
		<h1 class="cost__title title">Рассчитайте примерную стоимость проекта</h1>
		<div class="cost__inner">
			<form action="./" class="cost__form">
				<select class="js-select" name="service">
					<option value="0">Выберите услугу</option>
					<option value="1">Первая услуга</option>
					<option value="2">Вторая услуга</option>
					<option value="3">Третья услуга</option>
				</select>
				<select class="js-select" name="style">
					<option value="0">Выберите стиль</option>
					<option value="1">Первый стиль</option>
					<option value="2">Вторый стиль</option>
					<option value="3">Третый стиль</option>
				</select>
				<select class="js-select" name="level">
					<option value="0">Уровень проработки</option>
					<option value="1">Первый уровень</option>
					<option value="2">Вторый уровень</option>
					<option value="3">Третый уровень</option>
				</select>
				<input class="cost__input" type="text" placeholder="Площадь помещения, кв.м">
				<input class="cost__submit button" type="submit" value="рассчитать">
			</form>
			<div class="cost__result">
				<div class="cost__result-body">
					<h2 class="cost__result-conclusion">Стоимость вашего проекта состaвляет*</h2>
					<p class="cost__result-total">860 000 ₸ (~ 2 045 $)</p>
					<span class="cost__result-remark">Обсудим детали?</span>
					<button class="cost__result-button button">Да, позвоните мне</button>
				</div>
				<span class="cost__result-note">*Рассчитана приблизительная стоимость ваших услуг</span>


			</div>
		</div>
	</div>
</section>