<header class="header @@if(this.main){header_main}">
	<div class="header__top">
		<a href="./" class="header__logo"></a>
		<span class="header__menu-open"></span>
		<div class="header__top-inner">
			<span class="header__menu-close"></span>
			<div class="header__social">
				<a href="./" class="header__social-item header__social-item_wapp"></a>
				<a href="./" class="header__social-item header__social-item_inst"></a>
				<a href="./" class="header__social-item header__social-item_be"></a>
				<a href="./" class="header__social-item header__social-item_fb"></a>
				<a href="./" class="header__social-item header__social-item_pin"></a>
				<a href="./" class="header__social-item header__social-item_in"></a>
			</div>
			<div class="header__lang">
				<a href="./" class="header__lang-item">RU</a>
				<a href="./" class="header__lang-item">EN</a>
			</div>
			<ul class="header__menu">
				<li class="header__menu-item"><a href="./about.html">О компании</a></li>
				<li class="header__menu-item header__menu-item_haschild"><a href="./services.html">Услуги</a>
					<ul class="header__submenu">
						<li class="header__submenu-item"><a href="./services.html#arch">Архитектура</a></li>
						<li class="header__submenu-item"><a href="./services.html#design">Дизайн интерьеров</a></li>
						<li class="header__submenu-item"><a href="./services.html#project">Инженерное проектирование</a></li>
						<li class="header__submenu-item"><a href="./services.html#build">Строительство</a></li>
					</ul>
				</li>
				<li class="header__menu-item"><a href="./projects.html">Проекты</a></li>
				<li class="header__menu-item"><a href="./contacts.html">Контакты</a></li>
				<li class="header__menu-item"><a href="./">Стоимость проекта</a></li>
			</ul>
		</div>
	</div>

	@@if(this.main) {
		<div class="container">
			<div class="header__bottom">
				<h1 class="header__slogan">
					<span>Проектиро&shy;вание и дизайн</span>
					<span>Весь спектр услуг по проектированию и авторскому надзору</span>
				</h1>
				<a class="header__scroll" href="#callback">Скролл</a>
			</div>
		</div>
	}

</header> 
