.socials {
	$self: &;
	display: flex;

	&__item {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 24px 24px;
		width: 24px;
		height: 24px;
		
		&:not(:last-child) {
			margin-right: 20px;
		}

		&_be {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-be-view-white');
			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-soc-be-view-cyan') !important;
			}
		}

		&_fb {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-fb-view-white');
			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-soc-fb-view-cyan') !important;
			}
		}

		&_in {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-in-view-white');
			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-soc-in-view-cyan') !important;
			}
		}

		&_inst {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-inst-view-white');
			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-soc-inst-view-cyan') !important;
			}
		}

		&_pin {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-pin-view-white');
			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-soc-pin-view-cyan') !important;
			}
		}

		&_wapp {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-wapp-view-white');
			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-soc-wapp-view-cyan') !important;
			}
		}
	}

	&_contacts {
		#{$self}__item {
			&_be { background-image: url('#{$images-path}icons-sprite.svg#icon-soc-be-view-black'); }
			&_fb { background-image: url('#{$images-path}icons-sprite.svg#icon-soc-fb-view-black'); }
			&_in { background-image: url('#{$images-path}icons-sprite.svg#icon-soc-in-view-black'); }
			&_pin { background-image: url('#{$images-path}icons-sprite.svg#icon-soc-pin-view-black'); }
			&_inst { background-image: url('#{$images-path}icons-sprite.svg#icon-soc-inst-view-black'); }
			&_wapp { background-image: url('#{$images-path}icons-sprite.svg#icon-soc-wapp-view-black'); }
		}		
	}
}
