.hero {
	$self: &;
	margin-bottom: 100px;
	
	@include md-block() {
		margin-bottom: 50px;
	}

	&__intro {
		box-sizing: border-box;
		max-width: 935px;
		margin: 0 0 -170px auto;
		padding-left: 300px;
		
		@include sm-block() {
			margin: 0 0 70px 0;
			max-width: none;
			padding: 0;
		}
	}

	&__intro-top {
		display: block;
		font-family: "PNB", sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 10px;
		
		@include xxs-block() {
			text-align: center;
		}
	}

	&__intro-title {
		font-family: "PNSB", sans-serif;
		font-size: 60px;
		line-height: 1.1;
		margin-bottom: 30px;
		
		@include md-block() {
			font-size: 45px;
		}
		
		@include sm-block() {
			font-size: 37px;
		}
		
		@include xxs-block() {
			text-align: center;
		}
	}

	&__intro-text {

	}

	&__items {
		display: flex;
		flex-flow: row wrap;

		@include sm-block() {
			justify-content: space-between;
		}
	}

	&__item-image {
		box-sizing: border-box;
		outline: none;
		display: block;
		position: relative;
		padding: 0 0 0 20px;
		flex-shrink: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::before {
			display: block;
			content: attr(data-text);
			transform: translate(-100%) rotate(-90deg);
			transform-origin: right top;
			position: absolute;
			top: 0; left: 0;
			text-transform: uppercase;
			color: #000;
			font-size: 10px;
		}

		@include md-block() {
			&::before {
				font-size: 8px;
			}
		}
	}

	&__item-text {
		box-sizing: border-box;
		position: relative;
		z-index: 1;
		border: 2px solid black;
		max-width: 255px;
		padding: 40px 15px 15px;
		transition: color 0.3s ease-in;
		
		span {
			display: block;
			font-family: "PNL", sans-serif;
			font-size: 20px;
			margin-bottom: 20px;
		}

		&_black {
			#{$self}__more {
				color: #fff;
			}
		}

		@include md-block() {
			span {
				font-size: 18px;
			}
		}
	}

	&__more {
		display: block;
		font-family: "PNB", sans-serif;
		font-size: 12px;
		line-height: 0.9;
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		padding: 2px 0 0 17px;
		background: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-blue') left center / 7px 10px no-repeat transparent;
	}

	&__item-hidden {
		position: absolute;
		top: 0;
		background-color: rgba(67, 205, 255, 0.8);
		box-sizing: border-box;
		width: calc(100% - 20px);
		height: 100%;
		opacity: 0;
		padding: 30px 20px;
		color: #000;
		transition: opacity 0.3s ease-in;
		
		span:first-child {
			display: block;
			font-family: "PNB", sans-serif;
			font-size: 60px;
		}
		
		span:last-child {
			display: block;
			font-size: 10px;
			text-transform: uppercase;
		}
	
		@include md-block() {
			span:first-child {
				display: block;
				font-family: "PNB", sans-serif;
				font-size: 50px;
			}
		}
	}

	&__item {
		// @include outline();
		box-sizing: border-box;
		margin-bottom: 110px;
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;

		&:hover {
			#{$self}__item-hidden {
				opacity: 1;
			}

			#{$self}__item-text#{$self}__item-text_black {
				color: $blue;
			}
		}

		@include xs-block() {
			margin-bottom: 60px;
		}

		&_one {
			width: 40%;
			flex-direction: column;

			#{$self}__item-text {
				margin-top: -25px;
				margin-left: 50px;
			}

			#{$self}__item-image {
				width: 280px;
				height: 380px;
			}

			@include md-block() {
				#{$self}__item-text {
					max-width: 180px;
				}

				#{$self}__item-image {
					width: 220px;
					height: 290px;
				}
			}
		
			@include sm-block() {
				width: 48%;

				#{$self}__item-text {
					max-width: none;
				}

				#{$self}__item-image {
					width: 280px;
					height: 380px;
				}
			}
		
			@include xs-block() {
				width: 100%;

				#{$self}__item-text {
					max-width: 250px;
					margin-left: 0;
				}

				#{$self}__item-image {
					width: 280px;
					height: 380px;
				}
			}
		
			@include xxxs-block() {
				#{$self}__item-image {
					width: auto;
				}
			}
		}
	
		&_two {
			width: 60%;
			align-self: flex-end;

			#{$self}__item-image {
				width: 325px;
				height: 205px;
			}

			#{$self}__item-text {
				max-width: 285px;
				padding: 15px;
				background-color: #000;
				color: #fff;
				margin-top: 20px;
			}

			#{$self}__item-hidden {
				span:last-child {
					max-width: 100px;
				}
			}

			@include md-block() {
				#{$self}__item-image {
					width: 250px;
					height: 175px;
				}
			}
		
			@include sm-block() {
				flex-wrap: wrap;
				align-self: flex-start;
				width: 48%;

				#{$self}__item-text {
					max-width: 230px;
					margin: 0 0 0 auto;
				}

				#{$self}__item-image {
					width: 280px;
					height: 205px;
				}
			}
		
			@include xs-block() {
				flex-direction: column;
				align-content: flex-end;
				width: 100%;

				#{$self}__item-image {
					width: 300px;
					height: 205px;
					padding: 0 20px 0 0;

					&::before {
						transform: translate(100%) rotate(90deg);
						transform-origin: left top;
						right: 0; left: auto;
					}
				}
			}
		
			@include xxxs-block() {
				#{$self}__item-image {
					width: auto;
				}
			}
		}
	
		&_three {
			width: 40%;
			flex-direction: column;
			align-items: flex-start;
			padding-right: 30px;

			#{$self}__item-image {
				width: 325px;
				height: 205px;
			}

			#{$self}__item-text {
				max-width: 260px;
				background-color: #000;
				color: #fff;
				padding: 15px;
				order: -1;
				margin-left: 50px;
			}

			#{$self}__item-hidden {
				text-align: right;
			}

			@include md-block() {

				#{$self}__item-text {
					max-width: 185px;
				}
	
				#{$self}__item-image {
					width: 250px;
					height: 175px;
				}
			}
		
			@include sm-block() {
				width: 48%;
				padding: 0px;

				#{$self}__item-text {
					order: 0;
				}
	
				#{$self}__item-image {
					width: 280px;
					height: 205px;
				}
			}
		
			@include xs-block() {
				width: 100%;

				#{$self}__item-text {
					margin-left: 0px;
				}
	
				#{$self}__item-image {
					width: 300px;
					height: 205px;
				}
			}
		
			@include xxxs-block() {
				#{$self}__item-image {
					width: auto;
				}
			}
		}
		
		&_four {
			width: 60%;
			justify-content: flex-end;

			#{$self}__item-image {
				width: 340px;
				height: 205px;
			}

			#{$self}__item-text {
				max-width: 290px;
				padding: 15px;
				order: -1;
				margin: 55px -60px 0 0;
			}

			#{$self}__item-hidden {
				text-align: right;
			}

			@include md-block() {
				#{$self}__item-text {
					max-width: 215px;
				}

				#{$self}__item-image {
					width: 250px;
					height: 175px;
				}
			}
		
			@include sm-block() {
				width: 48%;
				flex-wrap: wrap;
				align-self: flex-start;
				margin-top: -150px;

				#{$self}__item-text {
					order: 0;
					padding-top: 30px;
					margin: -20px auto 0 0;
				}

				#{$self}__item-image {
					width: 280px;
					height: 175px;
				}
			}
		
			@include xs-block() {
				width: 100%;
				margin-top: 0px;
				flex-direction: column;
				align-items: flex-end;

				#{$self}__item-text {
					margin: -20px 0 0 0;
				}

				#{$self}__item-image {
					padding: 0 20px 0 0;
					width: 320px;
					height: 205px;
				}
			}
		
			@include xxxs-block() {
				#{$self}__item-image {
					width: auto;
				}
			}
		}
	}
}
