.services {
	$self: &;

	&__buttons {
		display: flex;
		margin: 0 -5px 65px;

		@include sm-block() {
			flex-wrap: wrap;
		}
	}

	&__button {
		box-sizing: border-box;
		width: calc(25% - 10px);
		margin: 0 5px 10px;
		color: #fff;
		border: none;
		outline: none;
		appearance: none;
		padding: 17px 10px;
		background-color: #000;
		font-family: "PNB", sans-serif;
		font-size: 14px;
		line-height: 1.1;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&:hover, &.active {
			background-color: #5ECFFF;
		}

		@include sm-block() {
			width: calc(50% - 10px);
		}

		@include xs-block() {
			min-height: 65px;
		}

		@include xxxs-block() {
			min-height: 55px;
			font-size: 11px;
		}
	}

	&__content {

	}

	&__title {
		text-align: center;
		font-family: "PNSB", sans-serif;
		font-size: 60px;
		margin-bottom: 65px;

		@include md-block() {
			font-size: 50px;
		}

		@include sm-block() {
			font-size: 40px;
		}

		@include xs-block() {
			font-size: 37px;
		}
		
		@include xxs-block() {
			font-size: 34px;
			line-height: 1.1;
		}
	}

	&__items {
		display: none;

		&:first-child {
			display: block;
		}
	}

	&__item {
		display: flex;
		align-items: flex-start;
		margin-bottom: 150px;
		
		@include sm-block() {
			margin-bottom: 80px;
		}
		
		&_1 {
			@include xs-block() {
				flex-wrap: wrap;
			}
	
			#{$self}__image {
				@include md-block() {
					align-self: center;
					flex-shrink: 1;
					min-width: 50%;
				}

				@include xs-block() {
					margin-right: 10%;					
				}
			}

			#{$self}__text {
				margin: 30px 0 0 -70px;
				padding-left: 100px;

				@include md-block() {
					align-self: center;
					margin: 0 0 0 -70px;
				}

				@include xs-block() {
					margin: -40px 0 0 10%;
					padding: 60px 20px 30px;
				}
			}
		}

		&_2 {
			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {
				order: 1;

				@include md-block() {
					align-self: center;
					flex-shrink: 1;
					min-width: 50%;
				}

				@include xs-block() {
					margin-left: 10%;
					order: 0;
				}
			}

			#{$self}__text {
				border-style: dotted;
				margin: 90px -50px 0 0px;
				padding-right: 70px;
				
				@include md-block() {
					align-self: center;
					margin: 0 -50px 0 0;
				}
				
				@include xs-block() {
					margin: -40px 10% 0 0;
					padding: 60px 20px 30px;
				}
			}
		}

		&_3 {
			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {
				margin-top: 20px;
				
				@include md-block() {
					align-self: center;
					flex-shrink: 1;
					min-width: 50%;
					margin-top: 0;
				}

				@include xs-block() {
					margin: 0 10% 0 0;
				}
			}

			#{$self}__text {
				margin: 0 0 0 -30px;
				padding-left: 60px;

				@include xs-block() {
					margin: -40px 0 0 10%;
					padding: 60px 20px 30px;
				}
			}
		}

		&_4 {
			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {
				@include md-block() {
					align-self: center;
					flex-shrink: 1;
					min-width: 50%;
				}

				@include xs-block() {
					margin: 0 10% 0 0;
				}
			}

			#{$self}__text {
				border-style: dotted;
				margin: 13px 0 0 -70px;
				padding-left: 90px;
				
				@include md-block() {
					align-self: center;
					margin: 0 0 0 -70px;
				}

				@include xs-block() {
					margin: -40px 0 0 10%;
					padding: 60px 20px 30px;
				}
			}
		}

		&_5 {
			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {
				order: 1;

				@include md-block() {
					align-self: center;
					flex-shrink: 1;
					min-width: 50%;
				}

				@include xs-block() {
					order: 0;
					margin: 0 0 0 10%;
				}
			}

			#{$self}__text {
				margin: 35px -35px 0 0px;
				padding-right: 50px;
				
				@include md-block() {
					align-self: center;
					margin: 0 -35px 0 0;
				}

				@include xs-block() {
					margin: -40px 10% 0 0;
					padding: 60px 20px 30px;
				}
			}
		}

		&_6 {
			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {
				
				@include md-block() {
					align-self: center;
					flex-shrink: 1;
					min-width: 50%;
				}

				@include xs-block() {
					margin: 0 10% 0 0;
				}
			}

			#{$self}__text {
				border-style: dotted;
				margin: 30px 0 0 -40px;
				padding-left: 60px;
				
				@include md-block() {
					align-self: center;
					margin: 0 0 0 -40px;
				}

				@include xs-block() {
					margin: -40px 0 0 10%;
					padding: 60px 20px 30px;
				}
			}
		}

		&_7 {
			flex-wrap: wrap;

			@include md-block() {
				flex-wrap: nowrap;
			}
	
			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {
				order: 1;
				margin: -50px 0 0 auto;

				@include md-block() {
					align-self: center;
					flex-shrink: 1;
					min-width: 50%;
					margin: 0;
					height: 200px;
				}

				@include xs-block() {
					order: 0;
					margin: 0 0 0 10%;
				}
			}

			#{$self}__text {
				margin-right: 150px;
				
				@include md-block() {
					align-self: center;
					padding-right: 50px;
					margin: 0 -35px 0 0;
				}

				@include xs-block() {
					margin: -40px 10% 0 0;
					padding: 60px 20px 30px;
				}
			}
		}

		&_8 {
			#{$self}__text {
				border-style: dotted;
			}
		}

		&_9 {
			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {
				order: 1;
				margin-top: 90px;

				@include md-block() {
					order: 0;
					flex-shrink: 1;
					min-width: 50%;
					margin-top: 20%;
				}

				@include xs-block() {
					order: 0;
					margin: 0 0 0 10%;
				}
			}

			#{$self}__text {
				border-style: dotted;
				margin: 0 -40px 0 0;
				padding-right: 60px;
				
				@include md-block() {
					margin: 0 0 0 -40px;
					padding: 30px 20px 30px 60px;
				}

				@include xs-block() {
					margin: -40px 10% 0 0;
					padding: 60px 20px 30px;
				}
			}
		}

		&_10 {
			flex-wrap: wrap;

			@include md-block() {
				flex-wrap: nowrap;
			}

			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {

				@include md-block() {
					order: 1;
					flex-shrink: 1;
					min-width: 50%;
					margin: 0;
					height: 200px;
					margin-top: 10%;
				}

				@include xs-block() {
					order: 0;
					margin: 0 10% 0 0;
				}
			}

			#{$self}__text {
				margin: -25px 0 0 170px;
				padding-top: 50px;
				
				@include md-block() {
					padding: 30px 70px 30px 20px;
					margin: 0 -50px 0 0;
				}

				@include xs-block() {
					margin: -40px 0 0 10%;
					padding: 60px 20px 30px;
				}
			}
		}

		&_11 {
			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {
				order: 1;
				
				@include md-block() {
					flex-shrink: 1;
					order: 0;
					min-width: 50%;
				}

				@include xs-block() {
					order: 0;
					margin: 0 0 0 10%;
				}
			}

			#{$self}__text {
				border-style: dotted;
				margin: 60px -70px 0 0px;
				padding-right: 100px;
				
				@include md-block() {
					margin: 60px 0 0px -70px;
					padding: 30px 20px 30px 100px;
				}

				@include xs-block() {
					margin: -40px 10% 0 0;
					padding: 60px 20px 30px;
				}
			}
		}

		&_12 {
			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {
				@include md-block() {
					align-self: center;
					flex-shrink: 1;
					min-width: 50%;
				}

				@include xs-block() {
					margin: 0 10% 0 0;
				}
			}

			#{$self}__text {
				margin: 50px 0 0 -70px;
				padding-left: 100px;
				
				@include md-block() {
					margin: 0 0 0 -70px;
				}

				@include xs-block() {
					margin: -40px 0 0 10%;
					padding: 60px 20px 30px;
				}
			}
		}

		&_13 {
			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {
				order: 1;
				@include md-block() {
					flex-shrink: 1;
					min-width: 50%;
				}

				@include xs-block() {
					order: 0;
					margin: 0 10% 0 0;
				}
			}

			#{$self}__text {
				border-style: dotted;
				margin: 80px -45px 0 0px;
				padding-right: 70px;

				@include xs-block() {
					margin: -40px 0 0 10%;
					padding: 60px 20px 30px;
				}
			}
		}

		&_14 {
			@include xs-block() {
				flex-wrap: wrap;
			}

			#{$self}__image {
				@include md-block() {
					flex-shrink: 1;
					min-width: 50%;
				}

				@include xs-block() {
					margin: 0 0 0 10%;
				}
			}

			#{$self}__text {
				margin: 40px 0 0 -40px;
				padding-left: 60px;

				@include xs-block() {
					margin: -40px 10% 0 0;
					padding: 60px 20px 30px;
				}
			}
		}
	}

	&__image {
		box-sizing: border-box;
		line-height: 0;
		flex-shrink: 0;
		max-width: 100%;
		max-height: 410px;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	
	&__text {
		box-sizing: border-box;
		padding: 30px 20px;
		border: 2px solid black;
		flex-grow: 1;
		position: relative;
		z-index: 1;
		
		ul {
			margin-bottom: 10px;
		}
	}

	&__text-title {
		font-family: "PNB", sans-serif;
		font-size: 28px;
		line-height: 1.1;
		margin-bottom: 17px;
		
		@include xxxs-block() {
			font-size: 24px;
		}
	}
}
