.select {
	$self: &;
	position: relative;

	&__head {
		box-sizing: border-box;
		cursor: pointer;
		display: flex;

		&_open + #{$self}__list {
			display: block;
		}
	}

	&__list {
		display: none;
		position: absolute;
		z-index: 9998;
		top: 100%;
		min-width: 100%;
	}

	&__item {
		cursor: pointer;
	}
}
